.nameTitleProfile {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;
  margin-left: 5px;
  padding: 0px;
  text-align: left;
  position: relative;
  bottom: 7px;
}
.nameTitleProfile:hover {
  color: #000000;
  cursor: pointer;
}
.dateStyle {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #aaaaaa;
  margin-left: 5px;
  text-align: left;
}
.bioText {
  padding-left: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.likesCounter {
  position: relative;
  top: 5px;
}
.unlikesCounter {
  position: relative;
  top: 5px;
  color: red;
}

.profileButtonStyle {
  text-decoration: none;
}
